body {
    background: url('../images/bg.jpg')no-repeat center fixed;     
    background-size: cover;
    font-family: 'qtvagaroundbold';
    font-weight: 600;
    font-color: #EB7000;
    color: #EB7000;
}

@font-face {
    font-family: 'qtvagaroundbold';
    src: url('../fonts/qtvagaround-bold-webfont.woff2') format('woff2'),
         url('../fonts/qtvagaround-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-color: #EB7000;
    color: #EB7000;

}

#userPhoto {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -25px;
}


#links{
    max-width: 302px;
    width: auto;
    display: block;
    margin:  auto;
    font-color: #EB7000;
    color: #EB7000;
}

.link{
    display: block;
    background-image: url('https://i.ibb.co/sKNfP5f/Candy-Button5.png');
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    padding: 33px;
    text-decoration: none;
    font-size: 1.9rem;
    font-color: #EB7000;
    color: #EB7000;
}

.link:hover {
 background: url("https://i.ibb.co/JBbPf7J/Candy-Button18.png") no-repeat;
}
