/* Style Settings */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
    background: url('../images/bg.jpg')no-repeat center fixed;     
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#userPhoto {
    width: 100px;
    height: 100px;
    display: block;
    margin: 10px auto;
}

#userName {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#userName h1 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    margin: 0 auto;
}

#userName p {
    font-weight: 300;
    margin-top: 5px;
    text-transform: none;
}

i.fa {
    margin-right: 0.3rem;
}

#links {
    max-width: 315px;
    width: auto;
    display: block;
    margin: 5px auto;
}

.link {
    display: block;
    background-image: url('https://i.ibb.co/Pcvmrw7/Small-Book-Hello-Honey.png');
    text-align: center;
    margin-bottom: 4px;
    padding: 40px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;


}

.link:hover {
    border: none;
}
